<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Azure</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://servicelandscapemethodology.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>servicelandscapemethodology.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>servicelandscapemethodology</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$servicelandscapemethodology</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SLMDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=kzshzkzyef.database.windows.net;Initial Catalog=SLM;Persist Security Info=True;User ID=jordanm;Password=SLM-2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Fujitsu.SLM.Data.SLMDataContext, Fujitsu.SLM.Data" MigrationConfiguration="Fujitsu.SLM.Data.Migrations.SLM.Configuration, Fujitsu.SLM.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityDataContext" Order="2" Enabled="False">
          <Destination Path="Data Source=kzshzkzyef.database.windows.net;Initial Catalog=SLM;Persist Security Info=True;User ID=jordanm;Password=SLM-2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Fujitsu.SLM.Data.IdentityDataContext, Fujitsu.SLM.Data" MigrationConfiguration="Fujitsu.SLM.Data.Migrations.Identity.Configuration, Fujitsu.SLM.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDataContext-Web.config Connection String">
      <ParameterValue>Data Source=kzshzkzyef.database.windows.net;Initial Catalog=SLM;Persist Security Info=True;User ID=jordanm;Password=SLM-2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SLMDataContext-Web.config Connection String">
      <ParameterValue>Data Source=kzshzkzyef.database.windows.net;Initial Catalog=SLM;Persist Security Info=True;User ID=jordanm;Password=SLM-2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>