body {
  background-color: #fcfff5;
  color: #555555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  margin: 0;
}
label {
  font-weight: normal;
}
.fixer-container {
  float: left;
  font-size: 15pt;
  font-weight: 500;
  left: -50%;
  margin-top: 6px;
  position: relative;
}
#quickLinksLeft {
  float: left;
}
#quickLinksRight {
  float: right !important;
  margin-right: 20px;
}
div.layout-header {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 40px;
  left: 0;
  margin: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 98;
}
div.layout-header a {
  color: white;
  margin: 5px;
  text-decoration: none;
}
div.layout-header img {
  border: 0;
  float: left;
  margin-left: 6px;
  margin-top: 6px;
}
div#customer-details {
  font-size: 10pt;
  left: 45px;
  margin-top: 12px;
  position: absolute;
  top: 0;
}
a.current-customer {
  color: #999999 !important;
}
a.current-customer:hover {
  color: white !important;
}
div.main-container {
  float: left;
  left: 48%;
  position: relative;
}
div.user-details {
  font-size: 10pt;
  display: inline-block;
  margin-top: 12px;
  position: absolute;
  right: 10px;
}
div.welcome-message {
  display: inline-block;
  float: left;
  font-size: 11pt;
  left: 46px;
  margin-top: 6px;
}
.byline {
  clear: both;
  color: #999999;
  font-size: 8pt;
  padding-top: 60px;
}
div#slm-details {
  font-size: 14pt;
  left: 320px;
  margin-top: 6px;
  position: absolute;
  top: 0;
}
div.layout-navigation {
  background-color: #dad9d6;
  bottom: 40px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 40px;
  width: 180px;
}
.navigation-items {
  background-color: #eeeeee;
  list-style-type: none;
  margin: 26px 0 0 0;
  padding-right: 0;
}
.navigation-items li {
  background-color: #dad9d6;
  clear: left;
  font-weight: 500;
  height: 32px;
  line-height: 1em;
  margin: 0 0 2px -48px;
  padding: 6px 0 0 0;
}
.navigation-items li a {
  color: black;
  display: block;
  float: left;
  margin: 0;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-top: 4px;
  text-decoration: None;
}
.navigation-items li a span {
  display: block;
  float: left;
  font-size: 10pt;
  margin: 0;
  padding-left: 10px;
  width: 160px;
}
.navigation-items li:hover {
  background-color: #91aa9d;
}
.navigation-items li.selected {
  background-color: white;
}
.navigation-items li.selected a span {
  color: black;
}
.navigation-items li.selected:hover {
  background-color: #eeeeee;
}
div.layout-body {
  background-color: white;
  bottom: 56px;
  color: #193441;
  font-family: "Segoe UI", Verdana, Helvetica;
  left: 180px;
  min-width: 800px;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  top: 40px;
}
.landing-image {
  background-image: url('../Images/Globe.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.welcome-message {
  left: 56px;
  position: absolute;
}
div.help-body {
  background-color: white;
  color: black;
  font-family: "Segoe UI", Verdana, Helvetica;
  min-width: 600px;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  position: absolute;
  top: 40px;
}
div.layout-footer {
  background-color: black;
  bottom: 0;
  color: white;
  font-family: "Segoe UI Light", "Segoe UI", Verdana, Helvetica;
  height: 40px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 98;
}
div.layout-footer div.global-commands {
  display: inline-block;
  font-size: 10pt;
  left: 16px;
  position: absolute;
  width: 100%;
}
div.layout-footer div.context-commands {
  display: inline-block;
  font-size: 10pt;
}
div.layout-footer div.help-commands {
  display: inline-block;
  font-size: 10pt;
  position: absolute;
  right: 16px;
}
div.layout-footer a {
  color: white;
  margin: 5px 8px;
  text-decoration: none;
}
div.layout-footer img {
  border: 0;
}
h4 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0;
}
h3 {
  font-size: 1.2em;
  margin: 6px 0 16px 0;
}
h2 {
  font-size: 1.3em;
  font-style: italic;
  margin: 0 0 16px 0;
}
h1 {
  font-size: 1.5em;
  margin: 0 0 16px 0;
}
div.editor-label {
  display: inline-block;
  vertical-align: top;
  width: 150px;
}
div.editor-field {
  display: inline-block;
}
div.editor-field span.required-indicator {
  border-left: 2px solid red;
  display: inline-block;
  height: 32px;
  left: -6px;
  margin-right: -2px;
  position: relative;
  text-indent: -9999px;
  top: -2px;
}
div.editor-field span.required-indicator-multiselect {
  border-left: 2px solid red;
  display: inline-block;
  height: 24px;
  left: -6px;
  margin-right: -2px;
  position: relative;
  text-indent: -9999px;
  top: -14px;
}
div.editor-field span.required-indicator-combobox {
  border-left: 2px solid red;
  display: inline-block;
  height: 24px;
  left: -6px;
  margin-right: -2px;
  position: relative;
  text-indent: -9999px;
  top: 0;
}
div.editor-field-required {
  display: inline-block;
  width: 8px;
}
div.display-label {
  display: inline-block;
  width: 150px;
}
div.display-field {
  display: inline-block;
}
div.layout-row {
  padding-bottom: 5px;
  padding-top: 5px;
}
.tiles {
  display: none;
}
.tile {
  background-color: #d1dbbd;
  color: #193441;
  float: left;
  height: 100px;
  margin: 10px 20px 10px 0;
  padding: 10px;
  width: 200px;
}
.updatedtile {
  background-color: #eff3e6;
  color: black;
  float: left;
  height: 100px;
  margin: 10px 20px 10px 0;
  padding: 10px;
  width: 200px;
}
.tiletitle {
  color: #3e606f;
  font-size: 11pt;
  padding: 4px 3px;
}
.tiledescription {
  font-size: 10pt;
  overflow: hidden;
  padding: 2px 3px 5px 3px;
}
.tiledata {
  font-size: 9pt;
  overflow: hidden;
  padding: 2px 3px;
}
textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
fieldset {
  border: none;
  color: #787878;
  padding: 5px;
}
fieldset legend {
  display: none;
}
fieldset input[type="submit"] {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #999999;
  color: #787878;
  cursor: pointer;
  font-size: 1.0em;
  margin: 5px 0 6px 0;
  padding: 4px 0;
  width: 92px;
}
fieldset input[type="submit"]:hover {
  background-color: #8ebc00;
  border-color: #8ebc00;
  color: white;
}
fieldset input[type="button"] {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #999999;
  color: #787878;
  cursor: pointer;
  font-size: 1.0em;
  margin: 5px 0 6px 0;
  padding: 4px 0;
  width: 92px;
}
fieldset input[type="button"]:hover {
  background-color: #8ebc00;
  border-color: #8ebc00;
  color: white;
}
fieldset input[type="text"] {
  color: #787878;
}
fieldset input[type="text-box"] {
  color: #787878;
}
fieldset input[type="textarea"] {
  color: #787878;
}
.ajax-updating {
  background-color: #eeeeee !important;
  color: #999999 !important;
}
.field-validation-error {
  color: red;
  margin-left: 6px;
}
.dropdown-menu {
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-bottom-color: white;
  border-top-color: white;
}
.navbar-brand {
  font-weight: 700;
}
.dropdown-menu > li > a {
  color: black;
  font-weight: 500;
}
div.editor-field-requried span.required-indicator {
  border-left: 2px solid red;
  display: inline-block;
  height: 32px;
  left: -6px;
  margin-right: -2px;
  position: relative;
  text-indent: -9999px;
  top: -2px;
}
td.required-value-cell span.required-indicator {
  border-left: 2px solid red;
  display: inline-block;
  height: 20px;
  margin-bottom: -6px;
  margin-left: -4px;
  margin-right: 2px;
  position: relative;
  text-indent: -9999px;
}
.cell-menu {
  overflow: visible !important;
}
.cell-menu-list {
  width: 120px;
}
.cell-menu-list .k-icon {
  margin-left: 10px !important;
}
div.searchwait {
  height: 24px;
  padding-top: 20px;
  text-align: center;
  width: 660px;
}
div.searchwait span {
  display: none;
}
div.searchcriteria {
  float: left;
  width: 180px;
}
div.searchcriteriabutton {
  float: left;
  padding-top: 25px;
  width: 100px;
}
div.searchcriterialabel {
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
  width: 100px;
}
div.searchcriteriafield {
  float: left;
  text-align: left;
  width: 160px;
}
div.searchcriteriafield input {
  color: #777777;
  width: 140px;
}
fieldset.searchcriteria {
  border: 1px solid #999999;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 660px;
}
div.validation-summary {
  margin: 0 8px 16px 8px;
  padding: 0;
}
ul.validation-summary-list {
  color: red;
  list-style: none;
  padding-left: 0;
}
.validation-summary-errors {
  color: red;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
.validation-summary-messages {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
div.error-message {
  color: red;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}
.editor-template-vertical-scroll {
  -ms-overflow-x: hidden;
  -ms-overflow-y: auto;
  max-height: 450px;
  min-width: 675px;
  overflow-x: hidden;
  overflow-y: auto;
}
.datagrid-centre {
  text-align: center;
}
.datagrid-right {
  text-align: right;
}
input.save {
  margin-right: 10px !important;
  width: 80px !important;
}
input.cancel {
  width: 80px !important;
}
.hidden {
  display: none;
  visibility: hidden;
}
.dialogbuttons {
  float: right;
  padding-top: 10px;
  position: relative;
}
.k-tooltip-validation.k-invalid-msg {
  display: inline-block;
  position: relative;
}
.k-tooltip-validation.k-invalid-msg .k-callout {
  display: none;
}
.wide-textbox {
  width: 300px;
}
.generate-diagram {
  margin-top: 10px;
  width: 120px;
}
input[type="button"]:hover {
  background-color: #8ebc00;
  border-color: #8ebc00;
  color: white;
}
.form-popup-fieldset {
  width: 550px;
}
.form-wider-popup-fieldset {
  width: 775px;
}
div#authentication-details {
  border-color: black;
  display: block;
  font-size: 10pt;
  height: 37px;
  margin-top: 10px;
  margin: 0;
  padding: 0;
}
div#authentication-details ul.links {
  float: left;
  list-style-type: none;
  margin-top: -5px;
}
ul.links li {
  border-left: 1px solid white;
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
}
ul.links li img {
  border: 0;
  margin-left: 3px;
  margin-top: -1px;
}
ul.links li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
#domain-move-window .form-popup-fieldset {
  width: auto;
}
.k-notification-upload-success.k-group {
  background: rgba(81, 172, 19, 0.97) !important;
  color: white;
}
.upload-success {
  height: 100px;
  line-height: 100px;
  padding: 0 30px;
  width: 240px;
}
.upload-success h3 {
  display: inline-block;
  font-family: "Segoe UI", Verdana, Helvetica;
  font-size: 16pt;
  font-weight: normal;
  vertical-align: middle;
}
.upload-success img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.notification-container {
  display: table;
}
.notification-container img {
  display: table-cell;
  vertical-align: middle;
}
.notification-container span {
  display: table-cell;
  vertical-align: middle;
}
.notification-warning .notification-message {
  color: #FFA500;
}
.kendo-validation {
  margin-top: 5px;
}
#addDiagramPackSubmit {
  width: 130px;
}
#moveServiceDomainContainer .k-dropdown {
  width: 350px;
}
#serviceDomainViewModelContainer .k-dropdown {
  width: 300px;
}
#selectUserContainer .k-dropdown {
  width: 350px;
}
#ServiceComponentsGrid {
  margin-bottom: 10px;
}
#ServiceComponentsGrid .k-header {
  white-space: normal;
}
#ServiceComponentsGrid .level2-row {
  background-color: #dad9d6;
}
#ServiceComponentsGrid .level1-image-cell img {
  vertical-align: middle;
}
#ServiceComponentsGrid .level2-image-cell img {
  vertical-align: middle;
}
#ServiceComponentsLevelTwoGrid {
  margin-bottom: 10px;
}
#ServiceComponentsLevelTwoGrid .k-header {
  white-space: normal;
}
#ServiceComponentsLevelTwoGrid .level2-row {
  background-color: #dad9d6;
}
#ServiceComponentsLevelTwoGrid .level1-image-cell img {
  vertical-align: middle;
}
#ServiceComponentsLevelTwoGrid .level2-image-cell img {
  vertical-align: middle;
}
#moveServiceComponentLevel1Container .k-dropdown {
  width: 500px;
}
#moveServiceComponentLevel1Container .form-popup-fieldset {
  width: 775px;
}
#moveServiceComponentLevel2Container .k-dropdown {
  width: 500px;
}
#moveServiceComponentLevel2Container .form-popup-fieldset {
  width: 775px;
}
#moveServiceFunctionContainer .form-popup-fieldset {
  width: 650px;
}
#moveServiceFunctionContainer .k-dropdown {
  width: 475px;
}
#serviceFunctionViewModelContainer .k-dropdown {
  width: 350px;
}
.edit-service-component .k-dropdown {
  width: 350px !important;
}
.edit-service-component .k-textbox {
  width: 350px !important;
}
.edit-service-component .form-popup-fieldset {
  width: 800px;
}
#editServiceComponentInputMode {
  border: none;
}
#editServiceComponentInputMode .k-content {
  padding-bottom: 15px;
  padding-top: 15px;
}
ul.k-panel .k-panelbar-collapse {
  margin-top: 10px !important;
}
#moveResolverContainer .form-popup-fieldset {
  width: 650px;
}
#moveResolverContainer .k-dropdown {
  width: 475px;
}
.vertical-text {
  margin-bottom: -15px;
  transform-origin: left top 0;
  transform: rotate(-90deg);
  color: white !important;
}
#DotMatrix table {
  table-layout: fixed;
}
#DotMatrix .k-grid-header {
  height: 250px;
}
#DotMatrix .k-grid-header tr:first-child {
  height: 250px;
}
#diagram-entities {
  margin: 2px;
  min-height: 26px;
  padding: 4px;
}
.diagram-entity {
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  margin-bottom: 5px;
  margin-right: 16px;
  vertical-align: top;
}
#diagram-buttons {
  margin: 2px;
  min-height: 26px;
  padding: 5px;
}
.edit-help {
  padding-bottom: 10px;
}
#editServiceComponentButtons p:first-child {
  float: left;
}
#editServiceComponentButtons p:nth-child(2) {
  float: right;
}
.multiselect-hint {
  color: #999999;
  font-size: .9em;
  font-style: italic;
  padding-top: 1em;
}
#DomainDataTreeView {
  color: black;
  margin: -4px auto;
  max-height: 500px;
  min-height: 100px;
  min-width: 250px;
  max-width: 650px;
}
ul.service-delivery-unit-notes {
  padding-left: 0;
}
ul.service-delivery-unit-notes li {
  list-style-type: none;
}
#MenuTree {
  background-color: #dad9d6;
  border-color: transparent;
  color: black;
  font-size: 10pt;
  margin: 2px 0 0 -40px;
  overflow: visible;
  padding-right: 0;
  z-index: 999;
}
#MenuTree li {
  margin: 0 0 2px 0;
}
#MenuTree .k-state-hover {
  background: transparent;
  border-color: transparent;
  color: black;
}
#MenuTree a.k-state-selected {
  background-color: transparent;
  border-color: transparent;
  color: black;
}
#MenuTree .k-state-focused {
  border-color: transparent;
  box-shadow: none;
}
#MenuTree div {
  padding: 6px 0 6px 0;
}
span.k-state-selected {
  background-color: transparent;
  border-color: transparent;
  color: black;
}
#nMenuTree ul > li > ul > li {
  margin: 0 0 2px 0;
  padding: 0;
}
.slm-button {
  border-radius: 0 !important;
  line-height: 1.50em !important;
  margin-top: 10px !important;
  width: 100px !important;
}
.slm-wide-button {
  border-radius: 0 !important;
  line-height: 1.50em !important;
  margin-top: 10px !important;
  width: 275px !important;
  z-index: 999;
}
textarea#ServiceDeliveryUnitNotes {
  color: #787878;
}
div#btn-group {
  margin-bottom: 20px;
  margin-top: 5px;
}
#ServiceDeskStructureDiagram {
  background: center no-repeat url('../Images/world-map.png');
}
#FujitsuDomainsOverviewDiagram {
  background: center no-repeat url('../Images/world-map.png');
}
#CustomerServicesOverviewDiagram {
  background: center no-repeat url('../Images/world-map.png');
}
input#Email.k-textbox {
  width: 300px !important;
}
input#Password.k-textbox {
  width: 300px !important;
}
html .k-upload {
  min-width: 250px;
  max-width: 400px;
}
.k-spreadsheet {
  height: 85% !important;
  width: 100% !important;
}
.k-confirm .k-window-titlebar::before {
  content: 'Confirmation';
}
.k-confirm .k-window-titlebar .k-dialog-title {
  visibility: collapse;
}
div.delete-video-button {
  padding-top: 10px;
  float: right;
}
.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link {
  color: black !important;
}
.k-grid-header,
.k-grid-header .k-header {
  background-color: #cccccc;
}
div.scale-section {
  padding-top: 10px;
}
div.slider {
  padding-top: 10px;
  padding-bottom: 25px;
}
div.slider div.exportSlider {
  display: inline-block;
  width: 500px;
  margin-left: 25px;
  margin-right: 20px;
}
div.slider div.exportSlider div.exportButton {
  padding: 0px !important;
}
#upload-customer-file-window .form-popup-fieldset {
  width: auto;
}
.k-treeview .k-in {
  width: 100%;
}
.k-panelbar > li.k-state-default > .k-link.k-state-selected,
.k-panelbar > li > .k-state-selected,
.k-state-selected > .k-link {
  color: white !important;
  background-color: #8ebc00 !important;
}
div.k-window-content {
  margin: 0 !important;
}
.roadmap-image {
  background-image: url('../Images/Roadmap.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}