@model string

<div class="welcome-message">
    <h1>Welcome to the Service Landscape Generator Application</h1>

    <p>This Application supports Practitioners of the Service Landscape Methodology, (SLM), to develop a Service Decomposition for a customer.</p>
    <p>It may be used during a new business opportunity, to develop the Service Delivery view of the Service Design or perhaps as part of a contract renewal or service improvement initiative.</p>
    <p>As an SLM Practitioner, you can use the Application as required in your role, to enable you to drive clarity and to produce visual representations of the services to be delivered to a customer.</p>
    <p>As we continue to develop the Application and include additional functionality, we welcome your feedback on further improvements or issues within the current release.</p>
    <p>Please feel free to contact us as <a href="mailto:@(Model)?Subject=Service%20Landscape%20Generator%20Application" target="_top">GlobalServiceArchitecture@uk.fujitsu.com</a></p>
</div>