@using Fujitsu.SLM.Web.Extensions
@using Microsoft.AspNet.Identity
@model Fujitsu.SLM.Web.Models.HomePageViewModel

@{
    ViewBag.Title = "Roadmap";
}

@section navigation
{
    @Html.Action("HomeMenu", "Menu")
}

@section globalcommands
{
    @Html.Action("QuickLinks", "Menu")
}

@section helpcommands
{
 @Html.ImageActionLink(Url.Content("~/Images/Help.png"), "Help", "Index", "Help", tooltip: "Help", htmlAttributes: new {id = "btnContextHelp", target="servicedecompositionhelp"}, routeValues: new {helpKey = "roadmappage"})
}


<div class="roadmap-image">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#btnBack").hide();
        $("#customer-details").hide();
    });
</script>