@model ServiceDeliveryUnitTypeRefDataViewModel

@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()
        @Html.EditorForModel(Model)
        <fieldset>
            <p>
                <input id="serviceDeliveryUnitTypeCreateButton" type="button" name="action"  class="k-button k-button-icontext slm-button" value="Create" />
            </p>
        </fieldset>
}