@model EditServiceComponentNameViewModel

<div id="editServiceComponentNameContainer">
    <fieldset class="form-popup-fieldset">
        <legend>Component</legend>
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.ComponentName)</label>
            </div>
            <div class="editor-field">
                @(Html.EditorFor(x => x.ComponentName, "WideText"))
                <div class="kendo-validation">
                    @Html.ValidationMessageFor(model => model.ComponentName)
                </div>
            </div>
        </div>
    </fieldset>
</div>