@model String

@{
    ViewBag.Title = "No Roles Assigned";
}

<div class="welcome-message">
    <h1>Welcome to the Service Landscape Generator Application</h1>


    <p>This Application supports Practitioners of the Service Landscape Methodology, (SLM), to develop a Service Decomposition for a customer.</p>
    <p>It may be used during a new business opportunity, to develop the Service Delivery view of the Service Design or perhaps as part of a contract renewal or service improvement initiative.</p>
    <p>As an SLM Practitioner, you can use the Application as required in your role, to enable you to drive clarity and to produce visual representations of the services to be delivered to a customer.</p>
    <p>Please email <a href="mailto:@(Model)" title="Email SLM administration">@Model</a> to discuss your required levels of access within the application.</p>
</div>

