@{
    ViewBag.Title = "Authorisation Error";
}

<h2>Sorry!</h2>
<p>You are not authorised to access this part of the SLM system. </p>
<p>If you require access, please contact the SLM administrator.</p>