@model ServiceActivityViewModel

<div id="serviceActivityViewModelContainer">
    <fieldset class="form-popup-fieldset">
        <legend>Service Activity</legend>
        <div class="layout-row">
            <div class="editor-label">
                <label>@Html.LabelFor(x => x.ServiceActivities)</label>
            </div>
            <div class="editor-field">
                @(Html.EditorFor(x => x.ServiceActivities, "MultiLineText"))
                <div class="kendo-validation">
                    @Html.ValidationMessageFor(model => model.ServiceActivities)
                </div>
            </div>
        </div>
    </fieldset>
</div>